.modal.left .modal-dialog {
	position:fixed;
	right: 0;
	margin: auto;
	width: 320px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.right .modal-body {
	padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
	left: -320px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
	right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
  background-color: #413939;
}

.modal-header {
	border-bottom-color: #000000;
	background-color: #413939;
}

/* ----- v CAN BE DELETED v ----- */
body {
	background-color: #fdfeff;
}

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}

.btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: #ffffff;
}

.btn-demo:focus {
	outline: 0;
}


  ul {
    list-style: none;
  }

  .bigspan{
    width: 100%;
    height: 326px;
    margin-top: 100px;
    background-color: blue;
  }
  .Sewa{
    margin-top: 80px;
  }
  .serve, .why, .testi .faq{
    margin-top: 50px;
  }
  section{
      position: relative;  
      height: 450px;
      width: 100%;
      display: flex;
      align-items: center;
    }
    .swiper{
      width: 90%;
    }
    .cards{
      position: relative;
      background: #fff;
      border-radius: 20px;
      margin: 20px 0;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    .cards::before{
      content: "";
      position: absolute;
      height: 40%;
      width: 100%;
      background: #7d2ae8;
      border-radius: 20px 20px 0 0;
    }
    .cards .card-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      position: relative;
      z-index: 100;
    }
    section .cards .image{
      height: 140px;
      width: 140px;
      border-radius: 50%;
      padding: 3px;
      background: #7d2ae8;
    }
    section .cards .image img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid #fff;
    }
    .cards .media-icons{
      position: absolute;
      top: 10px;
      right: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .cards .media-icons i{
      color: #fff;
      opacity: 0.6;
      margin-top: 10px;
      transition: all 0.3s ease;
      cursor: pointer;
    }
    .cards .media-icons i:hover{
      opacity: 1;
    }
    .cards .name-profession{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      color: gray;
    } 
    .name-profession .name{
      font-size: 20px;
      font-weight: 600;
    }
    .name-profession .profession{
      font-size:15px;
      font-weight: 500;
    }
    .cards .rating{
      display: flex;
      align-items: center;
      margin-top: 18px;
    }
    .cards .rating i{
      font-size: 18px;
      margin: 0 2px;
      color: #7d2ae8;
    }
    .cards .button{
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
    }

    .cards .button button{
      background: #7d2ae8;
      outline: none;
      border: none;
      color: #fff;
      padding: 8px 22px;
      border-radius: 20px;
      font-size: 14px;
      transition: all 0.3s ease;
      cursor: pointer;
    }
    .button button:hover{
      background: #6616d0;
    }
    .swiper-pagination{
      position: absolute;
    }
    .swiper-pagination-bullet{
      height: 7px;
      width: 26px;
      border-radius: 25px;
      background: #7d2ae8;
    }
    .swiper-button-next, .swiper-button-prev{
      opacity: 0.7;
      color: #7d2ae8;
      transition: all 0.3s ease;
    }
    .swiper-button-next:hover, .swiper-button-prev:hover{
      opacity: 1;
      color: #7d2ae8;
    }